<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1   {color: rgb(4, 4, 112);}

</style>
</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <center><img src="https://images.theconversation.com/files/446192/original/file-20220214-19-z6fu9c.jpeg?ixlib=rb-1.1.0&rect=13%2C17%2C2982%2C1926&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip" height="200px" width="500px" alt=""></center>
      </div>
    </div>
  </div>
    <p style="font-family:'Courier New'"><H1><center>The ISS is currently over</center></H1></p><br><br>
    <H2><center>Latitude: {{lat}} Longitude: {{lon}}</center></H2>
    <H2><center>{{country}}</center></H2>
    <h2><center>Number of people in space: {{cnt}}</center></h2>
    </body>
</html>