<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: rgb(4, 83, 114);}
h1   {color: rgb(4, 4, 112);}

</style>
</head>
<body>
    <p style="font-family:'Courier New'"><H1><center>{{Title}}</center></H1></p><br><br>
    <center><img src="{{poster}}" height="500px" width="300px" alt=""></center>
    <H1><center>Release date</center></H1>
    <H2><center>{{released}}</center></H2>
    <H1><center>Rating</center></H1>
    <H2><center>{{Rating}}</center></H2>
    <H1><center>Runtime</center></H1>
    <H2><center>{{Runtime}}</center></H2>
    <H1><center>Genre</center></H1>
    <H2><center>{{Genre}}</center></H2>
    <H1><center>Director</center></H1>
    <H2><center>{{Director}}</center></H2>
    <H1><center>Writers</center></H1>
    <H2><center>{{Writer}}</center></H2>
    <H1><center>Actors</center></H1>
    <H2><center>{{Actors}}</center></H2>
    <H1><center>Plot</center></H1>
    <H2><center>{{Plot}}</center></H2>
    </body>
</html>